@{
    ViewBag.Title = "TeamStream";
}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>TeamStream</h1>
            <iframe src="https://webchat.botframework.com/embed/TeamStreamVideoSearchBot?s=j2m3_YZVevY.cwA.EEs.G7sj3UaxFvwSi2uLHI10mQs6cIMnubTFgjU_2I9N0DE" style="width: 450px; height: 500px; background: #fff;"></iframe>
        </div>
    </header>