@{
    ViewBag.Title = "TeamStream";
}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>TeamStream</h1>
            <iframe src='https://webchat.botframework.com/embed/TeamStreamBeta?s=SIJzMIGeraY.cwA.gT0.ibCAB7xdTb-0OQpdtTBb_ZiZDyPXlE4cV-g_kmq4o9Y' style="width: 450px; height: 500px; background: #fff;"></iframe>
        </div>
    </header>