@{
    ViewBag.Title = "Video Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="page-header">
    Videos Dashboard
</h1>
<div class="row">
    <div class="col-lg-6">
    </div>
</div>